/**
 * Overide Themes Here
 *
 * All theme styles should be overide in this style sheet. Only overide the
 * the rules you need to. To overide a style simply include the declaration
 * from the 'clean-blog.css' or 'bootstrap.css' with a parent selector of '.grok'
 *
 * Example
 * Uses the clean class of '.intro-header' to overide background-color.
 * Only overide what you need to and be as specfic on the property as you can.
 * .intro-header {
 *      background-color: #bada55;
 * }
 *
 */

 html {
    font-size: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
 }

 body {
    font: normal 1em/1.61803em 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }

section {
	overflow: hidden;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    font-weight: 600;
    line-height: 1.5
}



/* ==========================================================================
   Embedded content
   ========================================================================== */

a img:hover,
a img:focus {
  cursor: pointer;
}



/* ==========================================================================
   Modules
   ========================================================================== */

/* Cover header
   ========================================================================== */
.g-coverHeader {
    position: relative;
    margin: 0;
    background: transparent url("../img/banners/tech_night.jpg") 0 0 no-repeat;
    background-size: cover;
}

@media (min-width: 980px) {
    .g-coverHeader {
        min-height: 600px;
    }
}

.g-coverHeader:before {
    content: "";
    display: block;
    padding-bottom: 41.4285%; /* Keeps aspect ration  based on image dims*/
}

.g-coverHeader .g-coverHeader__caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: .75em;
}

.g-coverHeader .g-coverHeader__caption:before { /* Vertically centers content within it, in this case the h1 */
    content: '';
    display: inline-block;
    height: 30%;
    vertical-align: middle;
    margin-right: -0.5em;
}

@media (max-width: 979px) {
    .g-coverHeader {
        height: 500px;
    }

    .g-coverHeader .g-coverHeader__caption:before {
        height: 15%;
    }
}

.g-coverHeader__captionContent {
    /*display: none;*/
    /*vertical-align: middle;*/
    padding-left: .2em;
    margin: 0;
    font-size: 4.5em !important;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    line-height: 1.5;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.37);
    text-rendering: optimizeLegibility;
}

.g-coverHeader__captionSubcontent {
    font-weight: normal;
    color: #ffffff;
    margin-top: 0;
}

.g-coverHeader__playLink {
	display: inline-block;
    color: #CCCCCC;
	/*font-family: "Quicksand";*/
	font-size: 2.5em;
    margin-top: 1.5em;
	/*font-weight: bold;*/
}

.g-coverHeader__playLink:hover {
    color: #EEEEEE;
	text-decoration: none;
}

.g-coverHeader__playLink:focus {
    outline: none !important;
    color: #ffffff;
}

.g-callToAction {
    margin-top: 1.5em;
    font-size: 4em;
}

.g-callToAction__link {
    display: block;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #83a52c;
    border-bottom: 2px solid #6c8824;
    border-right: 2px solid #6c8824;
    padding: 15px;
    border-radius: 40px;
    font-size: 0.5em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.g-callToAction__link:hover {
    color: white;
    background-color: #6c8824;
    border-bottom-color: #53691c;
    border-right-color: #53691c;
    text-decoration: none;
    transform: scale(1.05);
}

@media (max-width: 1199px) {
    .g-coverHeader {
        font-size: 14px;
    }
}

@media (max-width: 1075px) {
    .g-coverHeader__captionContent {
        font-size: 3.5em !important;
    }
}

@media (max-width: 850px) {
    .g-coverHeader__captionContent {
        font-size: 3em !important;
    }
}

@media (max-width: 380px) {
    .g-coverHeader__captionContent {
        font-size: 2em !important;
    }
}


.g-coverHeader__caption a i {
	/*color: #fff;*/
}

@media only screen and (min-width: 768px) {
    .g-coverHeader__captionContent {
        font-size: 0.02729em;
        line-height: 1em;
    }
}

@media only screen and (min-width: 960px) {
    .g-coverHeader {

    }
    .g-coverHeader:before {

    }
}

/* Icon Box
   ========================================================================== */
.icon-box {

}

.icon-box__media {
    display: block;
    height: 90px;
    width: 90px;
    background: #FFF;
    border: 1px solid #E9E9E9;
    color: #137FC4;
    line-height: 90px;
    font-size: 36px;
    text-align: center;
    border-radius: 100%;
    transition: all 0.2s linear;
    transform: translateZ(0);
}

.icon-box:hover .icon-box__media {
    background: #137FC4;
    border-color: #137FC4;
    color: #FFF;
    -moz-box-shadow: 0 0 1px 0 #137fc4, inset 0 0 0 7px #fff;
    -webkit-box-shadow: 0 0 1px 0 #137FC4, inset 0 0 0 7px #FFF;
    box-shadow: 0 0 1px 0 #137FC4, inset 0 0 0 7px #FFF;
}


/* Nav Bar
   ========================================================================== */
.navbar-custom {
    background-color: #000000;
    border-bottom: 1px solid transparent;
}

.navbar.is-fixed {
    background-color: #000000 !important;
}

.navbar-custom.navbar-home {
    background: transparent;
}

.navbar.is-fixed {
    border-bottom-color: transparent;
}

.navbar-custom .navbar-brand {
    position: absolute;
    top: 11px;
    left: 15px;
    height: 30px;
    width: 200px;
    padding: 0;
    background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat 0 50%;
    background-size: contain;
}

@media only screen and (min-width: 768px) {
    .navbar-custom .navbar-brand {
        left: 30px; /*overides the negative left margin by adding it to the left position*/
        top: 50%;
        margin-top: -15px;
    }
}

@media (max-width: 767px) {
    .g-index .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.95);
    }
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #cddb28;
}

.navbar-custom.is-fixed .nav li a {
    color: #fff;
}

.navbar .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.82);
}

.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, .3)
}

.navbar .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.82);
}

.clear {
	clear: both;
}

.img-rotation-right {
	-ms-transform: rotate(7deg); /* IE 9 */
	    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	    transform: rotate(7deg);
}

.img-rotation-left {
	-ms-transform: rotate(-7deg); /* IE 9 */
	    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
	    transform: rotate(-7deg);
}

.about-content {
	margin: 0 0 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e1e1;
}


.testimonials {
	width: 100%;
	padding: 3em 0;
	background: #e9e9e9;
	
	color: #fff !important;
	text-align: center;
}


.testimonials blockquote {
	border: 0px;
	
	color: #686767;
	font-size: 2em;
	line-height: 1.3em;
}


/* Into Header
   ========================================================================== */
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  color: #a1a1a1;
}

.intro-header .post-heading,
.intro-header .page-heading {
  padding: 0;
}



/* Pricing table
   ========================================================================== */
.pricing-table {
    width:  100%;
}

.pricing-table td, .pricing-table th {
    width: 25%;
    max-width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-family: 'Aria', sans-serif;
    font-size: 16px;
    transition: all 300ms cubic-bezier(0.23,1,.32,1);
    -webkit-transition: all 300ms cubic-bezier(0.23,1,.32,1);
    -moz-transition: all 300ms cubic-bezier(0.23,1,.32,1);
}


/* Pricing Pod
   ========================================================================== */
.pricing-pod {
    float: left;
    width: 22%;
    margin: 0 10px 0 0;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: 5px 5px 0 rgba(0,0,0,.07);
    -moz-box-shadow: 5px 5px 0 rgba(0,0,0,.07);
}

/* Pricing Options
   ========================================================================== */
.premiumheader {
    font-size: 36px;
    height: 4.5em;
}

.premiumheader h1 {
    padding: 1.5em 0;
}

.premium {
    margin: 0 auto 20px;
    padding-bottom: 68px;
}

.basic, .plus {
    margin: 40px auto 0;
}

.basic {
    padding-bottom: 139px;
}

.basic h1 {
    margin: 0.5em 0;
}

.plus {
    padding-bottom: 12px;
}

.plus h1 {
    height: 2em;
    margin: 1em 0;
}

.active-clients-message {
    display: inline-block;
}

@media (max-width: 480px) {
    .premiumplan {
        margin-top: -470px;
    }

    .plus {
        top: 0px;
    }

    .basic {
        top: 1305px;
        padding-bottom: 0px;
    }

    .active-clients-message {
        margin-top: 540px;
    }
}

@media (max-width: 767px) and (min-width: 481px) {
    .premiumplan {
        margin-top: -470px;
    }

    .plus {
        top: 0px;
    }

    .basic {
        top: 1350px;
        padding-bottom: 0px;
    }

    .active-clients-message {
        margin-top: 535px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .premiumplan {
        margin-top: -650px;
    }

    .basic {
        top: 670px;
    }

    .plus {
        top: -20px;
    }
}


/* Per
   ========================================================================== */
.per {
    margin: 0px 12px 20px;
    padding: 10px 21px;
    border: 1px solid #eceff1;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: center;
}

.per img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
/* Modal
   ========================================================================== */
.modal {
	background: rgba(0,0,0,0.7);
}

.modal-content {
	width: 100% !important;
	width: auto;
}
